---
import '@/styles/globals.css';
import Section from '@/components/Section.astro';
import Buttons from '@/components/Buttons.astro';
import Accordions from '@/components/Accordion/Index.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<Section title="Buttons">
			<Buttons />
		</Section>

		<Section title="Accordion">
			<Accordions />
		</Section>
	</body>
</html>

<style>
	h1 {
		margin: 10px;
		font-size: x-large;
		font-weight: 600;
	}

	h2 {
		margin-bottom: 10px;
		font-size: larger;
		font-weight: 600;
	}

	section {
		border: 1px solid;
		padding: 10px;
		margin: 10px;
		border-bottom-width: 2px;
		border-right-width: 2px;
	}

	.elements {
		background-color: antiquewhite;
		padding: 10px;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.animate-spin {
		animation: spin 1s linear infinite;
	}
</style>
