---
import '@/styles/globals.css';
import Accordions from '@/components/Accordion/Index.astro';
import Alert from '@/components/Alert/Index.astro';
import AlertDialog from '@/components/AlertDialog/Index.astro';
import AspectRatio from '@/components/AspectRatio/Index.astro';
import Avatar from '@/components/Avatar/Index.astro';
import Badge from '@/components/Badge/index.astro';
import Buttons from '@/components/Button/Index.astro';
import Section from '@/components/Section.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro - Shadcn UI</h1>

		<Section title="Buttons">
			<Buttons />
		</Section>

		<Section title="Accordions">
			<Accordions />
		</Section>

		<Section title="Alerts">
			<Alert />
		</Section>

		<Section title="Alert Dialog">
			<AlertDialog />
		</Section>

		<Section title="Aspect Ratio">
			<AspectRatio />
		</Section>

		<Section title="Avatar">
			<Avatar />
		</Section>

		<Section title="Badge">
			<Badge />
		</Section>
	</body>
</html>

<style>
	h1 {
		margin: 10px;
		font-size: x-large;
		font-weight: 600;
	}
</style>
