---
import { Button } from '@/components/ui/button';
import { ChevronRight } from 'lucide-react';
import { Mail } from 'lucide-react';
import { Loader2 } from 'lucide-react';
---

<Button>Hello World</Button>
<Button variant="destructive">Destructive</Button>
<Button variant="outline">Outline</Button>
<Button variant="ghost">Ghost</Button>
<Button variant="link">Link</Button>
<Button variant="outline" size="icon">
    <ChevronRight className="h-4 w-4" />
</Button>
<Button>
    <Mail className="mr-2 h-4 w-4" /> Login with Email
</Button>
<Button>
    <Loader2 className="mr-2 h-4 w-4 animate-spin" />
    Please wait
</Button>

<style>
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .animate-spin {
        animation: spin 1s linear infinite;
    }
</style>
